<div class="branding"><a ng-href="#/">AngularJS</a></div>
<ul>
    <li>
        <a ng-show="currentUser" ng-href="#/meetings">
            Meetings <span class="badge" ng-show="howManyMeetings">{{howManyMeetings}}</span>
        </a>
    </li>
    <li><a ng-hide="currentUser" ng-href="#/login">Login</a></li>
    <li><a ng-hide="currentUser" ng-href="#/register">Register</a></li>
</ul>
<!--<ul ng-show="currentUser">-->
    <!--<li><a href="#/login" ng-click="logout()">Logout</a></li>-->
    <!--<li><a href="#/profile">{{currentUser.firstname}} {{currentUser.lastname}}</a></li>-->
<!--</ul>-->